name: "Build Resume"
on:
  workflow_dispatch:
jobs:
  build-resume:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Build Resume
      run: nix build .#resume
    - name: Upload Resume
      uses: actions/upload-artifact@v4
      with:
        name: EliasPrescottResume.pdf
        path: result/EliasPrescottResume.pdf
